@import "../stylesheets/tailwind.css";

@import "../stylesheets/colors";
@import "../stylesheets/definitions";
@import "../stylesheets/font";
@import "../stylesheets/global";
@import "../stylesheets/icon_names";
@import "../stylesheets/icons";

@import "../stylesheets/alert";
@import "../stylesheets/button";
@include buttons;
@import "../stylesheets/containers";
@import "../stylesheets/dropdown";
@import "../stylesheets/forms";
@import "../stylesheets/nav";
@import "../stylesheets/pill";
@import "../stylesheets/rows";
@import "../stylesheets/stack";
@import "../stylesheets/table";
@import "../stylesheets/tooltip";

@import "../stylesheets/legacy";
